@font-face {
  font-family: "Avenir";
  src: url("./fonts/Avenir-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("./fonts/Anonymous-Pro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono";
  src: url("./fonts/Space-Mono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Space Mono Italic";
  src: url("./fonts/Space-Mono-Bold-Italic.ttf") format("truetype");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Avenir", sans-serif;
  font-weight: 900;
  font-size: 32px;
  margin: 0px 0px 6px 0px;
}

h2 {
  font-family: "Avenir", sans-serif;
  font-weight: 100;
  font-size: 18px;
  margin: 0px 0px 6px 30px;
}

a.light-mode-link:link {
  color: #0047c6;
  text-decoration: none;
}
a.light-mode-link:visited {
  color: #0047c6;
  text-decoration: none;
}
a.light-mode-link:hover {
  color: #65baee;
}

a.dark-mode-link:link {
  color: #2a7fde;
  text-decoration: none;
}
a.dark-mode-link:visited {
  color: #2a7fde;
  text-decoration: none;
}
a.dark-mode-link:hover {
  color: #65baee;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version supported by Chrome and Opera */
}

.input-bracket {
  font-family: "Space Mono", monospace;
  font-weight: 900;
  font-size: 92px;
}

#name-title {
  font-family: "Avenir", sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 0px 0px 0px 7px;
}

#tagline {
  font-family: "Avenir", sans-serif;
  font-weight: 100;
  font-size: 24px;
  margin: 0px 0px 0px 7px;
}

#top-panel {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 20px;
}

#content-header {
  position: fixed;
  top: 200px;
  width: 270px;
  text-align: right;
}

#content-body {
  position: absolute;
  overflow: hidden;
  font-family: "Avenir", sans-serif;
  font-weight: 400;
  line-height: 26px;
  margin: 185px 170px 30px 290px;
}

#cmd-list {
  z-index: 3;
  position: fixed;
  right: 72px;
  width: 200px;
  border: 1px solid;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 200;
  font-size: 12px;
}

#cmd-list > p {
  margin: 2px;
}

#logo {
  z-index: 2;
  position: fixed;
  top: 5px;
  right: 50px;
}

#credits {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 2px 2px 4px 28px;
  font-family: "Avenir", sans-serif;
  font-weight: 100;
  font-size: 14px;
}

/* @media only screen and (max-width: 840px) {

} */
