@font-face {
  font-family: "Avenir Light";
  src: url("./fonts/Avenir-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Heavy";
  src: url("./fonts/Avenir-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Anonymous Pro Bold";
  src: url("./fonts/Anonymous-Pro-Bold.ttf") format("truetype");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  font-family: "Avenir Heavy", sans-serif;
  font-size: 24px;
  margin: 0px 0px;
}

.subheading {
  font-family: "Avenir Light", sans-serif;
  font-size: 24px;
  margin: 0px 0px;
}

.underlined {
  /* text-decoration: underline; */
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  /* text-shadow:
    2px 2px #e5fdff,
    2px -2px #e5fdff,
    -2px 2px #e5fdff,
    -2px -2px #e5fdff; */
  margin-bottom: 4px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version supported by Chrome and Opera */
}

a.light-link:link {
  color: #a5e6f9;
  text-decoration: none;
}
a.light-link:hover {
  color: #65baee;
}

a.dark-link:link {
  color: #000e4a;
  text-decoration: none;
}
a.dark-link:hover {
  color: #65baee;
}

.input-bracket {
  font-size: 82px;
}

#top-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
}
