@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Inconsolata";
  src: url("../fonts/Inconsolata.otf") format("opentype");
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("../fonts/Anonymous-Pro.ttf") format("truetype");
}

@font-face {
  font-family: "Anonymous Pro Bold";
  src: url("../fonts/Anonymous-Pro-Bold.ttf") format("truetype");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#left-panel {
  font-family: "Poppins Regular", sans-serif;
  position: fixed;
  height: 100vh;
  width: 30%;
  padding-left: 20px;
}

#right-panel {
  font-family: "Inconsolata", monospace;
  float: right;
  height: 100vh;
  width: 50%;
  padding-left: 30px;
  padding-right: 120px;
  font-size: 20px;
  line-height: 1.6;
  text-align: left;
  overflow-y: auto;
}

#flip-UI-prompt {
  position: absolute;
  left: 95%;
  bottom: 38%;
}

#commands-list {
  font-family: "Poppins Regular", sans-serif;
  position: fixed;
  left: 30px;
  bottom: 50px;
}

#credits {
  font-family: "Poppins Regular", sans-serif;
  font-size: 12px;
  position: fixed;
  left: 12px;
  bottom: 12px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
}

#logo {
  position: fixed;
  right: 18px;
  bottom: 12px;
}

.Heading {
  font-family: inherit;
  font-size: 28px;
  line-height: 1.8;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Tagline {
  font-family: inherit;
  font-size: 32px;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px;
}

.GuideText {
  font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 0px;
}

.CmdLine {
  font-family: "Anonymous Pro Bold", monospace;
  font-size: 92pt;
}

.Output {
  font-family: inherit;
  letter-spacing: 0.4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.Underlined {
  /* text-decoration: underline; */
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85;
  /* text-shadow:
    2px 2px #e5fdff,
    2px -2px #e5fdff,
    -2px 2px #e5fdff,
    -2px -2px #e5fdff; */
  margin-bottom: 4px;
}

.NoSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version supported by Chrome and Opera */
}

.ColumnDiv {
  float: right;
  height: 100vh;
  width: 1%;
}

a.LightLink:link {
  color: #a5e6f9;
  text-decoration: none;
}
a.LightLink:visited {
  color: #a5e6f9;
}
a.LightLink:hover {
  color: #65baee;
}
a.LightLink:active {
  color: #e81224;
}

a.DarkLink:link {
  color: #000e4a;
  text-decoration: none;
}
a.DarkLink:visited {
  color: #000e4a;
}
a.DarkLink:hover {
  color: #65baee;
}
a.DarkLink:active {
  color: #e81224;
}

p:hover,
.HoverPulse:hover,
.Pulse {
  background: linear-gradient(225deg, #65baee, #002da4);
  /* background: linear-gradient(225deg, #2a63f1, #51bd8c); */
  background-size: 400% 400%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: CoolGradient 2s ease infinite;
  -webkit-animation: CoolGradient 2s ease infinite;
  -moz-animation: CoolGradient 2s ease infinite;
}

@keyframes CoolGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes CoolGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes CoolGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
